<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farm_elp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.WATCH" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".Activity.DrawerActivity.ContactSeller.ContactActivity"/>

        <activity
            android:name=".Activity.MainPageActivity.PublicPageActivity.MainPage"
            android:parentActivityName=".Activity.MainPageActivity.MainPageClickItemActivity.MainActivity_NavigationPage" />
        <activity android:name=".Activity.CartActivity.Cart_ContactList" />

        <activity android:name=".Activity_Starting.Splash_Screen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.SettingActivity"
            android:parentActivityName=".Activity.MainPageActivity.MainPageClickItemActivity.MainActivity_NavigationPage" />

        <activity
            android:name=".Activity.LoginRegistration.Login"
            android:allowTaskReparenting="true"
            android:parentActivityName=".Activity_Starting.StartingActivity" />

        <activity
            android:name=".Activity.LoginRegistration.Registration"
            android:allowTaskReparenting="true"
            android:parentActivityName=".Activity_Starting.StartingActivity" />

        <activity
            android:name=".Activity.DrawerActivity.Notification.NotificationActivity"
            android:parentActivityName=".Activity.MainPageActivity.MainPageClickItemActivity.MainActivity_NavigationPage" />
        <activity
            android:name=".Activity.DrawerActivity.MyProduct.MyProductsActivity"
            android:parentActivityName=".Activity.MainPageActivity.MainPageClickItemActivity.MainActivity_NavigationPage" />

        <activity android:name=".Activity.MainPageActivity.MainPageClickItemActivity.MainActivity_NavigationPage"
            android:parentActivityName=".Activity.MainPageActivity.MainPageClickItemActivity.MainActivity_NavigationPage" />

        <activity android:name=".Activity_Starting.StartingActivity" />
    </application>

</manifest>