<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farm_elp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.WATCH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farmelp">
        <activity android:name=".Activity.Contact_ShoppingList"></activity>
        <activity android:name=".StartingActivity.Splash_Screen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:parentActivityName=".Navigation.MainActivity_NavigationPage" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".Activity.Login"
            android:allowTaskReparenting="true"
            android:parentActivityName=".StartingActivity.StartingActivity" />
        <activity
            android:name=".Activity.Registration"
            android:allowTaskReparenting="true"
            android:parentActivityName=".StartingActivity.StartingActivity" />
        <activity
            android:name=".MyProduct_Activity.MyProductsActivity"
            android:parentActivityName=".Navigation.MainActivity_NavigationPage" />
        <activity
            android:name=".Activity.PlacesActivity"
            android:parentActivityName=".Navigation.MainActivity_NavigationPage" />
        <activity
            android:name=".MyProduct_Activity.ItemDetail"
            android:parentActivityName=".Navigation.MainActivity_NavigationPage" />
        <activity
            android:name=".Activity.ToolsActivity"
            android:parentActivityName=".Navigation.MainActivity_NavigationPage" />
        <activity
            android:name=".Activity.SowingActivity"
            android:parentActivityName=".Navigation.MainActivity_NavigationPage" />
        <activity android:name=".Navigation.MainActivity_NavigationPage"></activity>
        <activity android:name=".StartingActivity.StartingActivity"></activity>
    </application>

</manifest>